/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/
:root.theme-light {
    --main-font-weight: 400;
    --title-font-weight: 700;
    --bg-color: #FFFFFF;
    --accent-color: #000000;
    --bg-image:
        repeating-linear-gradient(to right, #d3d3d3, #d3d3d3 2px, transparent 2px, transparent 4px),
        repeating-linear-gradient(to bottom,#d3d3d3, #d3d3d3 2px, transparent 2px, transparent 4px),
        linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
}

:root.theme-dark {
    --main-font-weight: 465;
    --title-font-weight: 785;
    --bg-color: #000000;
    --accent-color: #00CC14;
    --bg-image:
        repeating-linear-gradient(to right, #000, #000 2px, transparent 2px, transparent 4px),
        repeating-linear-gradient(to bottom,#000, #000 2px, transparent 2px, transparent 4px),
        linear-gradient(to bottom, #007f0c, #004306);
}

@media (prefers-color-scheme: dark) {
    :root {
        --main-font-weight: 465;
        --title-font-weight: 785;
        --bg-color: #000000;
        --accent-color: #00CC14;
        --bg-image:
            repeating-linear-gradient(to right, #000, #000 2px, transparent 2px, transparent 4px),
            repeating-linear-gradient(to bottom,#000, #000 2px, transparent 2px, transparent 4px),
            linear-gradient(to bottom, #007f0c, #004306);
    }
}